body {
    padding: 0;
    margin: 0;
}

/* nav bar  */
nav {
    width: 100%;
    background-color: #556b9b;
    color: #ffffff;
}

div.brand-logo {
    font-size: 25px;
    font-weight: bold;
}

img.logo {
    vertical-align: middle;
}

ul.menu {
    list-style-type: none;
    background-color: #556b9b;
}

li {
    display: inline-block;
    margin-bottom: 16px;
}

li a {
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    padding: 16px;
}

li a:hover {
    background-color: #192a4e;
}

/* End of navbar */

div.container {
    margin: auto;
    width: 85%;
}

/* hero section */

div.hero {
    overflow: hidden;
    position: relative;
    height: 600px;
    margin-top: 30px;
}

img.hero-image {
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.hero-text {
    position: relative;
    color: #192a4e;
    padding: 10% 20px;
    font-size: 48px;
    font-weight: 900;
}

.hero-text span {
    font-size: 25px;
}

a.get-started {
    padding: 15px;
    border: 1px solid #192a4e;
    border-radius: 20px;
    color: #ffffff;
    background-color: #192a4e;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 50px;
}

/* main section */
.popular {
    color: #192a4e;
    font-size: 24px;
    margin-bottom: 0;
}

.horizontal-rule {
    border: 3px solid #192a4e;
    border-radius: 5px;
    width: 257px;
    margin-bottom: 50px;
}