body {
    padding: 0;
    margin: 0;
}

/* nav bar  */
nav {
    width: 97.65%;
    background-color: #192a4e;
    color: #ffffff;
    padding: 16px;
}

div.brand-logo {
    font-size: 25px;
    font-weight: bold;
}

img.logo {
    vertical-align: middle;
}

ul.menu {
    list-style-type: none;
    background-color: #192a4e;
}

li {
    display: inline-block;
    /* margin-bottom: 16px; */
}

li a {
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    padding: 16px;
}

li a:hover {
    background-color: #556b9b;
}

/* End of navbar */

div.container {
    margin: auto;
    width: 85%;
}

/* hero section */

div.hero {
    overflow: hidden;
    position: relative;
    height: 700px;
    margin-top: 30px;
}

img.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.hero-text {
    position: relative;
    color: #f1f1f1;
    padding: 5% 20px;
    font-size: 48px;
    font-weight: 900;
}

.hero-text span {
    font-size: 25px;
}

a.get-started {
    padding: 15px;
    border: 1px solid #192a4e;
    border-radius: 20px;
    color: #ffffff;
    background-color: #192a4e;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}

/* main section */
.popular, .description-header {
    color: #192a4e;
    font-size: 24px;
    margin-bottom: 0;
}

.horizontal-rule {
    border: 3px solid #192a4e;
    border-radius: 5px;
    width: 257px;
    margin-bottom: 50px;
}

.recipe-column {
    float: left;
    width: 31.5%;
    margin: 0 10px;
}

.recipe-row::after {
    content: '';
    display: table;
    clear: both;
}

.recipe-card {
    text-align: center;
}

.recipe-card img {
    width: 100%;
    height: 250px;
}

.recipe a {
    text-decoration: none;
    color: #192a4e;
    font-size: 20px;
    font-weight: 500;
}

/* Rice Recipe */
.description-hr {
    border: 3px solid #192a4e;
    border-radius: 5px;
    width: 178px;
    margin-bottom: 30px;
}

.description p {
    font-size: 22px;
    color: #192a4e;
    line-height: 28px;
    word-spacing: 2px;
    text-align: justify;
}